USE [WorkFinderDb]
GO
/****** Object:  StoredProcedure [dbo].[GetAllRoles]    Script Date: 8/23/2025 1:02:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetAllRoles] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM Roles;
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllUsers]    Script Date: 8/23/2025 1:02:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetAllUsers] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT usrs.UserId,usrs.Email,usrs.UserName,rls.RoleId,rls.RoleName FROM Users usrs LEFT JOIN Roles rls
	on usrs.RoleId = rls.RoleId;
END
GO
/****** Object:  StoredProcedure [dbo].[GetUserPasswordHash]    Script Date: 8/23/2025 1:02:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetUserPasswordHash]
	-- Add the parameters for the stored procedure here
	@UserId UNIQUEIDENTIFIER
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT PasswordHash FROM Users WHERE UserId = @UserId;
END
GO
/****** Object:  StoredProcedure [dbo].[InsertRole]    Script Date: 8/23/2025 1:02:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InsertRole]
	-- Add the parameters for the stored procedure here
	@RoleId UniqueIdentifier,
	@RoleName nvarchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO Roles (RoleID,RoleName) VALUES(@RoleId,@RoleName);
END
GO
/****** Object:  StoredProcedure [dbo].[InsertUser]    Script Date: 8/23/2025 1:02:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InsertUser]
	-- Add the parameters for the stored procedure here
	@Email nvarchar(150),
	@UserName nvarchar(150),
	@PasswordHash nvarchar(150),
	@RoleId UniqueIdentifier
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DECLARE @InsertedIds TABLE (UserId UNIQUEIDENTIFIER);

    -- Insert statements for procedure here
	INSERT INTO Users (UserName,Email,PasswordHash,RoleId) 
	OUTPUT Inserted.UserId INTO @InsertedIds
	VALUES(@UserName,@Email,@PasswordHash,@RoleId);

	SELECT UserId FROM @InsertedIds;
END
GO
