



--------------------------------------------------------------------------------------------------
ALTER TABLE dbo.Jobs
    ADD IsDeleted bit NOT NULL
        CONSTRAINT DF_Jobs_IsDeleted DEFAULT (0) WITH VALUES;

--------------------------------------------------------------------------------------------------
USE [WorkFinderDb]
GO
/****** Object:  StoredProcedure [dbo].[DeleteJob]    Script Date: 12/11/2025 3:48:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

CREATE PROCEDURE [dbo].[DeleteJob]
    @JobId INT,
    @EmployerId UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [dbo].[Jobs]
    SET IsDeleted = 1,
        UpdatedAt = SYSUTCDATETIME(),
        UpdatedBy = @EmployerId
    WHERE JobId = @JobId AND IsDeleted = 0;

    -- Return the updated status
    SELECT IsDeleted 
    FROM [dbo].[Jobs] 
    WHERE JobId = @JobId;
END
--------------------------------------------------------------------------------------------------

GO
/****** Object:  StoredProcedure [dbo].[GetEmployerJobs]    Script Date: 12/11/2025 4:09:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[GetEmployerJobs]
  @SearchValue  VARCHAR(100),
  @SortColumn   VARCHAR(50),
  @SortOrder    VARCHAR(50),
  @PageSize     INT,
  @PageNo       INT,
  @Status       BIT,
  @EmployerId   UNIQUEIDENTIFIER,
  @TotalCount   INT OUTPUT
AS
BEGIN
  SET NOCOUNT ON;
  SET @SearchValue = LTRIM(RTRIM(ISNULL(@SearchValue, '')));
  IF (@PageNo < 1) SET @PageNo = 1;

  -- 1) Filter once into a temp table
  SELECT
      j.JobId, j.Title, j.[Description], j.City, j.Country, j.CreatedAt, j.ExpiryDate,
      j.EmployerId, j.JobType, j.IsActive, j.IndustryId,
      i.IndustryName, e.CompanyName
  INTO #Filtered
  FROM dbo.Jobs j
  JOIN dbo.Industries i ON j.IndustryId = i.IndustryId
  JOIN dbo.Employers  e ON j.EmployerId = e.EmployerId
  WHERE
      j.EmployerId = @EmployerId
      AND j.IsActive = @Status
      AND j.IsDeleted = 0
      AND (
          @SearchValue = '' OR
          CAST(j.JobId AS VARCHAR(50)) LIKE '%' + @SearchValue + '%' OR
          j.Title      LIKE '%' + @SearchValue + '%' OR
          j.City       LIKE '%' + @SearchValue + '%' OR
          j.JobType    LIKE '%' + @SearchValue + '%' OR
          i.IndustryName LIKE '%' + @SearchValue + '%' OR
          e.CompanyName  LIKE '%' + @SearchValue + '%'
      );

  -- 2) Total count for output param
  SELECT @TotalCount = COUNT(*) FROM #Filtered;

  -- 3) Paged result (with your Dapper split markers)
  SELECT
      f.JobId, f.Title, f.[Description], f.City, f.Country, f.CreatedAt, f.ExpiryDate,
      f.EmployerId, f.JobType, f.IsActive, f.IndustryId,
      e.EmployerId AS EmpSplit,
      e.EmployerId AS EmployerId,
      e.CompanyName,
      i.IndustryId AS IndSplit,
      i.IndustryId AS IndustryId,
      i.IndustryName
  FROM #Filtered f
  JOIN dbo.Employers  e ON f.EmployerId = e.EmployerId
  JOIN dbo.Industries i ON f.IndustryId = i.IndustryId
  ORDER BY
      CASE WHEN (@SortColumn = 'Title'        AND @SortOrder = 'ASC')  THEN f.Title        END ASC,
      CASE WHEN (@SortColumn = 'Title'        AND @SortOrder = 'DESC') THEN f.Title        END DESC,
      CASE WHEN (@SortColumn = 'City'         AND @SortOrder = 'ASC')  THEN f.City         END ASC,
      CASE WHEN (@SortColumn = 'City'         AND @SortOrder = 'DESC') THEN f.City         END DESC,
      CASE WHEN (@SortColumn = 'IndustryName' AND @SortOrder = 'ASC')  THEN f.IndustryName END ASC,
      CASE WHEN (@SortColumn = 'IndustryName' AND @SortOrder = 'DESC') THEN f.IndustryName END DESC
  OFFSET @PageSize * (@PageNo - 1) ROWS
  FETCH NEXT @PageSize ROWS ONLY
  OPTION (RECOMPILE);

  DROP TABLE #Filtered;
END

--------------------------------------------------------------------------------------------------

GO
/****** Object:  StoredProcedure [dbo].[GetApplicantAvailableJobs]    Script Date: 12/11/2025 4:20:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[GetApplicantAvailableJobs] 
    @ApplicantId UNIQUEIDENTIFIER,
	@Location NVARCHAR(300),
	@IndustryId INT,
	@JobType VARCHAR(100),
	@SearchValue NVARCHAR(100) = '',
	@SortColumn  NVARCHAR(50) = 'JOBTITLE',
	@SortOrder   NVARCHAR(50) = 'ASC',
	@PageSize    INT,
	@PageNo      INT,
	@TotalCount INT OUTPUT

AS
BEGIN
	SET NOCOUNT ON;

	SET @PageNo = ISNULL(@PageNo, 1);
	SET @PageSize = ISNULL(@PageSize, 5);

	DECLARE @Offset INT = (@PageNo - 1) * @PageSize;

	-- Create temp table
	IF OBJECT_ID('tempdb..#FilteredJobs') IS NOT NULL
		DROP TABLE #FilteredJobs;

	SELECT 
		jbs.JobId,
		jbs.Title,
		jbs.Description,
		jbs.City,
		jbs.JobType,
		jbs.Country,
		jbs.CreatedAt,
		ind.IndustryId,
		ind.IndustryName,
		emps.EmployerId,
		emps.CompanyName
	INTO #FilteredJobs
	FROM 
		Jobs AS jbs
	INNER JOIN 
		Industries AS ind ON jbs.IndustryId = ind.IndustryId
	INNER JOIN 
		Employers AS emps ON jbs.EmployerId = emps.EmployerId
	WHERE
		(@Location IS NULL OR @Location = '' OR jbs.Country = @Location)
		AND (@IndustryID IS NULL OR @IndustryId = '' OR ind.IndustryId = @IndustryID)
		AND (@JobType IS NULL or @JobType = '' OR jbs.JobType = @JobType)
		AND jbs.IsActive = 1 AND jbs.IsDeleted = 0
		AND jbs.JobId NOT IN (SELECT JobId FROM ApplicantJobs WHERE [ApplicantId] = @ApplicantId)
		AND jbs.JobId NOT IN (SELECT JobId FROM SavedJobs WHERE [ApplicantId] = @ApplicantId)

	--First result set: paginated data
	SELECT 
		f.JobId,
		f.Title,
		f.Description,
		f.City,
		f.JobType,
		f.Country,
		f.CreatedAt,
		f.IndustryId,
		f.IndustryName,
		f.EmployerId,
		f.CompanyName
	FROM 
		#FilteredJobs AS f
	ORDER BY
		CASE WHEN (@SortColumn = 'JOBTITLE' AND @SortOrder = 'ASC')  THEN f.Title END ASC,
		CASE WHEN (@SortColumn = 'JOBTITLE' AND @SortOrder = 'DESC') THEN f.Title END DESC,
		f.Title ASC, f.JobId ASC
	OFFSET @Offset ROWS
	FETCH NEXT @PageSize ROWS ONLY;
	
	-- Second Result Set
	SELECT @TotalCount =
		COUNT(*)
	FROM #FilteredJobs;
END

--------------------------------------------------------------------------------------------------

GO
/****** Object:  StoredProcedure [dbo].[GetApplicantSavedJobs]    Script Date: 12/11/2025 4:49:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[GetApplicantSavedJobs] 
    @ApplicantId UNIQUEIDENTIFIER,
	@SearchValue NVARCHAR(100) = '',
	@SortColumn  NVARCHAR(50) = 'JOBTITLE',
	@SortOrder   NVARCHAR(50) = 'ASC',
	@PageSize    INT,
	@PageNo      INT,
	@TotalCount INT OUTPUT

AS
BEGIN
	SET NOCOUNT ON;

	SET @PageNo = ISNULL(@PageNo, 1);
	SET @PageSize = ISNULL(@PageSize, 5);

	DECLARE @Offset INT = (@PageNo - 1) * @PageSize;

	-- Create temp table
	IF OBJECT_ID('tempdb..#FilteredJobs') IS NOT NULL
		DROP TABLE #FilteredJobs;

	SELECT 
		jbs.JobId,
		jbs.Title,
		jbs.Description,
		jbs.City,
		jbs.JobType,
		jbs.Country,
		jbs.CreatedAt,
		ind.IndustryId,
		ind.IndustryName,
		emps.EmployerId,
		emps.CompanyName
	INTO #FilteredJobs
	FROM 
	    SavedJobs sjbs
	INNER JOIN
		Jobs AS jbs ON sjbs.JobId = jbs.JobId
	INNER JOIN 
		Industries AS ind ON jbs.IndustryId = ind.IndustryId
	INNER JOIN 
		Employers AS emps ON jbs.EmployerId = emps.EmployerId
	WHERE
		--(@Location IS NULL OR jbs.Country = @Location)
		--AND (@IndustryID IS NULL OR ind.IndustryId = @IndustryID)
		--AND (@JobType IS NULL OR jbs.JobType = @JobType)
		jbs.IsActive = 1 AND jbs.IsDeleted = 0
		AND sjbs.ApplicantId = @ApplicantId
		AND sjbs.JobId NOT IN (SELECT JobId FROM ApplicantJobs WHERE [ApplicantId] = @ApplicantId);

	--First result set: paginated data
	SELECT 
		f.JobId,
		f.Title,
		f.Description,
		f.City,
		f.JobType,
		f.Country,
		f.CreatedAt,
		f.IndustryId,
		f.IndustryName,
		f.EmployerId,
		f.CompanyName
	FROM 
		#FilteredJobs AS f
	ORDER BY
		CASE WHEN (@SortColumn = 'JOBTITLE' AND @SortOrder = 'ASC')  THEN f.Title END ASC,
		CASE WHEN (@SortColumn = 'JOBTITLE' AND @SortOrder = 'DESC') THEN f.Title END DESC,
		f.Title ASC, f.JobId ASC
	OFFSET @Offset ROWS
	FETCH NEXT @PageSize ROWS ONLY;
	
	-- Second Result Set
	SELECT @TotalCount =
		COUNT(*)
	FROM #FilteredJobs;
END

--------------------------------------------------------------------------------------------------


GO
/****** Object:  StoredProcedure [dbo].[GetApplicantAppliedJobs]    Script Date: 12/11/2025 4:48:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[GetApplicantAppliedJobs] 
    @ApplicantId UNIQUEIDENTIFIER,
	@SearchValue NVARCHAR(100) = '',
	@SortColumn  NVARCHAR(50) = 'JOBTITLE',
	@SortOrder   NVARCHAR(50) = 'ASC',
	@PageSize    INT,
	@PageNo      INT,
	@TotalCount INT OUTPUT

AS
BEGIN
	SET NOCOUNT ON;

	SET @PageNo = ISNULL(@PageNo, 1);
	SET @PageSize = ISNULL(@PageSize, 5);

	DECLARE @Offset INT = (@PageNo - 1) * @PageSize;

	-- Create temp table
	IF OBJECT_ID('tempdb..#FilteredJobs') IS NOT NULL
		DROP TABLE #FilteredJobs;

	SELECT 
		jbs.JobId,
		jbs.Title,
		jbs.Description,
		jbs.City,
		jbs.JobType,
		jbs.Country,
		jbs.CreatedAt,
		ind.IndustryId,
		ind.IndustryName,
		emps.EmployerId,
		emps.CompanyName,
	    appljbs.JobStatus
	INTO #FilteredJobs
	FROM 
		ApplicantJobs AS appljbs
    INNER JOIN
	Jobs jbs on jbs.JobId = appljbs.JobId
	INNER JOIN 
		Industries AS ind ON jbs.IndustryId = ind.IndustryId
	INNER JOIN 
		Employers AS emps ON jbs.EmployerId = emps.EmployerId
	WHERE jbs.JobId IN (SELECT JobId FROM ApplicantJobs WHERE [ApplicantId] = @ApplicantId)
	and appljbs.ApplicantId = @ApplicantId and jbs.IsDeleted = 0

	--First result set: paginated data
	SELECT 
		f.JobId,
		f.Title,
		f.Description,
		f.City,
		f.JobType,
		f.Country,
		f.CreatedAt,
		f.IndustryId,
		f.IndustryName,
		f.EmployerId,
		f.CompanyName,
		f.JobStatus as Status
	FROM 
		#FilteredJobs AS f
	ORDER BY
		CASE WHEN (@SortColumn = 'JOBTITLE' AND @SortOrder = 'ASC')  THEN f.Title END ASC,
		CASE WHEN (@SortColumn = 'JOBTITLE' AND @SortOrder = 'DESC') THEN f.Title END DESC,
		f.Title ASC, f.JobId ASC
	OFFSET @Offset ROWS
	FETCH NEXT @PageSize ROWS ONLY;
	
	-- Second Result Set
	SELECT @TotalCount =
		COUNT(*)
	FROM #FilteredJobs;
END
