USE [WorkFinderDb]
GO
/****** Object:  StoredProcedure [dbo].[GetUserByEmail]    Script Date: 2/21/2026 4:11:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[GetUserByEmail]
	-- Add the parameters for the stored procedure here
	@Email NVARCHAR(200)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT usrs.UserId,usrs.UserName,usrs.Email,usrs.ProfilePic,rls.RoleId,rls.RoleName
	FROM USERS usrs INNER JOIN Roles rls
	ON usrs.RoleId = rls.RoleId
	WHERE usrs.Email = @Email;
END


USE [WorkFinderDb]
GO
/****** Object:  StoredProcedure [dbo].[UpdateEmployer]    Script Date: 2/21/2026 4:12:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[UpdateEmployer]

    @EmployerId UNIQUEIDENTIFIER,
    @CompanyName NVARCHAR(200),
    @WebsiteUrl NVARCHAR(200),
    @CompanySize NVARCHAR(50),
    --@ContactPerson NVARCHAR(100),
    @RegistrationNumber NVARCHAR(50),
    @IndustryId INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Employers
    SET CompanyName = @CompanyName,
        WebsiteUrl = @WebsiteUrl,
        CompanySize = @CompanySize,
        --ContactPerson = @ContactPerson,
        RegistrationNumber = @RegistrationNumber,
        IndustryId = @IndustryId
    WHERE EmployerId = @EmployerId;

    IF(@@ROWCOUNT = 1)
    BEGIN
        SELECT 'SUCCESS' as Status;
    END
END

USE [WorkFinderDb]
GO
/****** Object:  StoredProcedure [dbo].[GetApplicantSkill]    Script Date: 2/21/2026 4:13:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[GetApplicantSkill]
	-- Add the parameters for the stored procedure here
	@ApplicantId UNIQUEIDENTIFIER
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM ApplicantSkills  WHERE ApplicantId = @ApplicantId;
END

USE [WorkFinderDb]
GO
/****** Object:  StoredProcedure [dbo].[RemoveSkillForApplicant]    Script Date: 2/21/2026 4:14:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[RemoveSkillForApplicant]
	-- Add the parameters for the stored procedure here
	@ApplicantId UNIQUEIDENTIFIER,
	@SkillId INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE FROM ApplicantSkills
	WHERE ApplicantId = @ApplicantId AND SkillId = @SkillId;
END
