USE [WorkFinderDb]
GO
/****** Object:  StoredProcedure [dbo].[GetJobSkills]    Script Date: 10/8/2025 9:28:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[GetJobSkills]
    @JobIds NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    -- Split comma-separated JobIds into table format
    ;WITH JobList AS
    (
        SELECT TRY_CAST(value AS INT) AS JobId
        FROM STRING_SPLIT(@JobIds, ',')
        WHERE TRY_CAST(value AS INT) IS NOT NULL
    )
    SELECT
        js.JobId,
        s.SkillId,
        s.SkillName
    FROM dbo.JobSkills AS js
    INNER JOIN dbo.Skills AS s ON js.SkillId = s.SkillId
    INNER JOIN JobList jl ON js.JobId = jl.JobId
    ORDER BY js.JobId;
END;


USE [WorkFinderDb]
GO
/****** Object:  StoredProcedure [dbo].[GetActiveJobs]    Script Date: 10/8/2025 9:29:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      <Author,,Name>
-- Create date: <Create Date,,>
-- Description: Get active jobs with search, sort, paging (employer-scoped)
-- =============================================
ALTER   PROCEDURE [dbo].[GetActiveJobs]
    @SearchValue NVARCHAR(100) = N'',
    @SortColumn  NVARCHAR(50)  = N'JobTitle',  -- Allowed: JobTitle | City | Industry
    @SortOrder   NVARCHAR(50)  = N'ASC',       -- Allowed: ASC | DESC
    @PageSize    INT           = 25,
    @PageNo      INT           = 1,
    @EmployerId  UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    -- Sanitize inputs
    SET @SearchValue = LTRIM(RTRIM(ISNULL(@SearchValue, N'')));
    SET @SortColumn  = UPPER(LTRIM(RTRIM(ISNULL(@SortColumn, N''))));
    SET @SortOrder   = UPPER(LTRIM(RTRIM(ISNULL(@SortOrder, N'ASC'))));

    IF @SortOrder NOT IN ('ASC','DESC') SET @SortOrder = 'ASC';
    IF @PageSize <= 0 SET @PageSize = 25;
    IF @PageNo   <= 0 SET @PageNo   = 1;

    ;WITH CTE_Filtered AS
    (
        SELECT
            j.JobId,
            j.Title,
            j.[Description],
            j.City,
            j.ExpiryDate,
            j.EmployerId,
            j.JobType,
            j.IsActive,
            j.IndustryId,
            i.IndustryName
            
        FROM dbo.Jobs AS j
        INNER JOIN dbo.Industries AS i
            ON j.IndustryId = i.IndustryId
        WHERE
            j.IsActive = 1
            AND j.EmployerId = @EmployerId
            AND (
                @SearchValue = N'' OR
                j.Title        LIKE N'%' + @SearchValue + N'%' OR
                j.City         LIKE N'%' + @SearchValue + N'%' OR
                i.IndustryName LIKE N'%' + @SearchValue + N'%'
            )
    ),
    CTE_WithCount AS
    (
        SELECT
            *,
            COUNT(*) OVER () AS TotalRows
        FROM CTE_Filtered
    )
    SELECT
        
        JobId,
        Title,
        [Description],
        City,
        ExpiryDate,
        EmployerId,
        JobType,
        IsActive,
        IndustryId,
        IndustryName
        
    FROM CTE_WithCount
    ORDER BY
        -- Dynamic sort (safe CASE pattern) + deterministic fallback
        CASE WHEN (@SortColumn = 'JOBTITLE' AND @SortOrder = 'ASC')  THEN Title        END ASC,
        CASE WHEN (@SortColumn = 'JOBTITLE' AND @SortOrder = 'DESC') THEN Title        END DESC,
        CASE WHEN (@SortColumn = 'CITY'     AND @SortOrder = 'ASC')  THEN City         END ASC,
        CASE WHEN (@SortColumn = 'CITY'     AND @SortOrder = 'DESC') THEN City         END DESC,
        CASE WHEN (@SortColumn = 'INDUSTRY' AND @SortOrder = 'ASC')  THEN IndustryName END ASC,
        CASE WHEN (@SortColumn = 'INDUSTRY' AND @SortOrder = 'DESC') THEN IndustryName END DESC,
        Title ASC, JobId ASC
    OFFSET @PageSize * (@PageNo - 1) ROWS
    FETCH NEXT @PageSize ROWS ONLY
    OPTION (RECOMPILE);
END