USE [WorkFinderDb]
GO
/****** Object:  StoredProcedure [dbo].[GetJobSkills]    Script Date: 10/8/2025 9:28:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[GetJobSkills]
    @JobIds NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    -- Split comma-separated JobIds into table format
    ;WITH JobList AS
    (
        SELECT TRY_CAST(value AS INT) AS JobId
        FROM STRING_SPLIT(@JobIds, ',')
        WHERE TRY_CAST(value AS INT) IS NOT NULL
    )
    SELECT
        js.JobId,
        s.SkillId,
        s.SkillName
    FROM dbo.JobSkills AS js
    INNER JOIN dbo.Skills AS s ON js.SkillId = s.SkillId
    INNER JOIN JobList jl ON js.JobId = jl.JobId
    ORDER BY js.JobId;
END;


USE [WorkFinderDb]
GO
/****** Object:  StoredProcedure [dbo].[GetEmployerJobs]    Script Date: 10/16/2025 4:40:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      <Author,,Name>
-- Create date: <Create Date,,>
-- Description: Get employer jobs with search, sort, paging (employer-scoped)
CREATE PROCEDURE [dbo].[GetEmployerJobs]

@SearchValue varchar(100),
@SortColumn varchar(50),
@SortOrder varchar(50),
@PageSize int,
@PageNo int,
@Status bit,
@EmployerId  UNIQUEIDENTIFIER
AS
BEGIN
	
SET @SearchValue = LTRIM(RTRIM(@SearchValue))

    ; WITH CTE_Results AS
    (  
        SELECT j.JobId, j.Title, j.[Description], j.City, j.ExpiryDate, j.EmployerId, j.JobType, j.IsActive, j.IndustryId, i.IndustryName, e.CompanyName
		from dbo.Jobs as j INNER JOIN dbo.Industries as i ON j.IndustryId = i.IndustryId
		INNER JOIN dbo.Employers as e ON J.EmployerId = e.EmployerId
		WHERE (@SearchValue = '' OR  
			(  
				JobId LIKE '%' + @SearchValue + '%' OR
				Title LIKE '%' + @SearchValue + '%' OR
				City LIKE '%' + @SearchValue + '%' OR
				JobType LIKE '%' + @SearchValue + '%' OR
				IndustryName LIKE '%' + @SearchValue + '%' OR
				CompanyName LIKE '%' + @SearchValue + '%'
			)) and j.IsActive = @Status AND j.EmployerId = @EmployerId

			ORDER BY  
			CASE WHEN (@SortColumn = 'Title' AND @SortOrder='ASC')  THEN Title  END ASC,  
            CASE WHEN (@SortColumn = 'Title' AND @SortOrder='DESC') THEN Title  END DESC,
            CASE WHEN (@SortColumn = 'City' AND @SortOrder='ASC')  THEN City  END ASC,  
            CASE WHEN (@SortColumn = 'City' AND @SortOrder='DESC') THEN City  END DESC,  
            CASE WHEN (@SortColumn = 'IndustryName' AND @SortOrder='ASC')   THEN IndustryName END ASC,  
			CASE WHEN (@SortColumn = 'IndustryName' AND @SortOrder='DESC')  THEN IndustryName END DESC 
            
            OFFSET @PageSize * (@PageNo - 1) ROWS  
            FETCH NEXT @PageSize ROWS ONLY  
    ),
    CTE_TotalRows AS   
    (  
        select count(JobId) as TotalRows from dbo.Jobs
        WHERE (@SearchValue = '' OR  
			(  
				Title LIKE '%' + @SearchValue + '%' OR
				City LIKE '%' + @SearchValue + '%' OR
				JobType LIKE '%' + @SearchValue + '%'
			)) and IsActive = @Status
    )  
    Select TotalRows, t.JobId, t.Title, t.[Description], t.City, t.ExpiryDate, t.EmployerId, t.JobType, t.IsActive, t.IndustryId, 
    v.EmployerId AS EmpSplit,     -- split marker (not mapped to Employer)
    v.EmployerId AS EmployerId,   -- real EmployerId for Employer model
    v.CompanyName, 
    u.IndustryId AS IndSplit,     -- split marker (not mapped to Industry)
    u.IndustryId AS IndustryId,   -- real IndustryId for Industry model
    u.IndustryName  
  from dbo.Jobs as t 
	INNER JOIN dbo.Employers as v ON t.EmployerId = v.EmployerId INNER JOIN dbo.Industries as u ON t.IndustryId = u.IndustryId, CTE_TotalRows   
    WHERE EXISTS (SELECT 1 FROM CTE_Results WHERE CTE_Results.JobId = t.JobId)

    OPTION (RECOMPILE)
END