USE [WorkFinderDb]
GO
/****** Object:  StoredProcedure [dbo].[GetEmployerJobs]    Script Date: 10/23/2025 3:16:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[GetEmployerJobs]
  @SearchValue  VARCHAR(100),
  @SortColumn   VARCHAR(50),
  @SortOrder    VARCHAR(50),
  @PageSize     INT,
  @PageNo       INT,
  @Status       BIT,
  @EmployerId   UNIQUEIDENTIFIER,
  @TotalCount   INT OUTPUT
AS
BEGIN
  SET NOCOUNT ON;
  SET @SearchValue = LTRIM(RTRIM(ISNULL(@SearchValue, '')));
  IF (@PageNo < 1) SET @PageNo = 1;

  -- 1) Filter once into a temp table
  SELECT
      j.JobId, j.Title, j.[Description], j.City, j.Country, j.CreatedAt, j.ExpiryDate,
      j.EmployerId, j.JobType, j.IsActive, j.IndustryId,
      i.IndustryName, e.CompanyName
  INTO #Filtered
  FROM dbo.Jobs j
  JOIN dbo.Industries i ON j.IndustryId = i.IndustryId
  JOIN dbo.Employers  e ON j.EmployerId = e.EmployerId
  WHERE
      j.EmployerId = @EmployerId
      AND j.IsActive = @Status
      AND (
          @SearchValue = '' OR
          CAST(j.JobId AS VARCHAR(50)) LIKE '%' + @SearchValue + '%' OR
          j.Title      LIKE '%' + @SearchValue + '%' OR
          j.City       LIKE '%' + @SearchValue + '%' OR
          j.JobType    LIKE '%' + @SearchValue + '%' OR
          i.IndustryName LIKE '%' + @SearchValue + '%' OR
          e.CompanyName  LIKE '%' + @SearchValue + '%'
      );

  -- 2) Total count for output param
  SELECT @TotalCount = COUNT(*) FROM #Filtered;

  -- 3) Paged result (with your Dapper split markers)
  SELECT
      f.JobId, f.Title, f.[Description], f.City, f.Country, f.CreatedAt, f.ExpiryDate,
      f.EmployerId, f.JobType, f.IsActive, f.IndustryId,
      e.EmployerId AS EmpSplit,
      e.EmployerId AS EmployerId,
      e.CompanyName,
      i.IndustryId AS IndSplit,
      i.IndustryId AS IndustryId,
      i.IndustryName
  FROM #Filtered f
  JOIN dbo.Employers  e ON f.EmployerId = e.EmployerId
  JOIN dbo.Industries i ON f.IndustryId = i.IndustryId
  ORDER BY
      CASE WHEN (@SortColumn = 'Title'        AND @SortOrder = 'ASC')  THEN f.Title        END ASC,
      CASE WHEN (@SortColumn = 'Title'        AND @SortOrder = 'DESC') THEN f.Title        END DESC,
      CASE WHEN (@SortColumn = 'City'         AND @SortOrder = 'ASC')  THEN f.City         END ASC,
      CASE WHEN (@SortColumn = 'City'         AND @SortOrder = 'DESC') THEN f.City         END DESC,
      CASE WHEN (@SortColumn = 'IndustryName' AND @SortOrder = 'ASC')  THEN f.IndustryName END ASC,
      CASE WHEN (@SortColumn = 'IndustryName' AND @SortOrder = 'DESC') THEN f.IndustryName END DESC
  OFFSET @PageSize * (@PageNo - 1) ROWS
  FETCH NEXT @PageSize ROWS ONLY
  OPTION (RECOMPILE);

  DROP TABLE #Filtered;
END


GO
/****** Object:  StoredProcedure [dbo].[GetJobSkills]    Script Date: 10/23/2025 3:16:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[GetJobSkills]
    @JobIds NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    -- Split comma-separated JobIds into table format
    ;WITH JobList AS
    (
        SELECT TRY_CAST(value AS INT) AS JobId
        FROM STRING_SPLIT(@JobIds, ',')
        WHERE TRY_CAST(value AS INT) IS NOT NULL
    )
    SELECT
        js.JobId,
        s.SkillId,
        s.SkillName
    FROM dbo.JobSkills AS js
    INNER JOIN dbo.Skills AS s ON js.SkillId = s.SkillId
    INNER JOIN JobList jl ON js.JobId = jl.JobId
    ORDER BY js.JobId;
END;


GO
/****** Object:  StoredProcedure [dbo].[GetJobApplicantsbyId]    Script Date: 10/23/2025 3:17:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[GetJobApplicantsbyId]
  @SearchValue     VARCHAR(100),
  @SortColumn      VARCHAR(50),
  @SortOrder       VARCHAR(50),
  @PageSize        INT,
  @PageNo          INT,
  @ApplicantStatus VARCHAR(50),
  @JobId           INT,
  @TotalCount      INT OUTPUT
AS
BEGIN
  SET NOCOUNT ON;

  SET @SearchValue = LTRIM(RTRIM(ISNULL(@SearchValue, '')));
  IF (@PageNo < 1) SET @PageNo = 1;

  /* 1) Filter once into a temp table */
  SELECT
      u.UserId,
      u.UserName,
      u.City,
      u.Country,
      u.Email,
      u.Phone,
      u.IsActive,
      a.ApplicantId,
      a.Gender,
      a.[Resume],
      aj.JobStatus,
      aj.JobId,
      q.QualificationId,
      q.QualificationName
  INTO #Filtered
  FROM dbo.Users       AS u
  INNER JOIN dbo.Applicants   AS a  ON u.UserId      = a.UserId
  INNER JOIN dbo.ApplicantJobs AS aj ON aj.ApplicantId = a.ApplicantId
  INNER JOIN dbo.Qualifications AS q ON q.QualificationId = a.QualificationId

  WHERE
      aj.JobId = @JobId
      AND aj.JobStatus = @ApplicantStatus  -- change to: AND (@ApplicantStatus = '' OR aj.JobStatus = @ApplicantStatus)  for "All"
      AND (
          @SearchValue = '' OR
          u.UserName LIKE '%' + @SearchValue + '%' OR
          u.City     LIKE '%' + @SearchValue + '%' OR
          u.Email    LIKE '%' + @SearchValue + '%' OR
          u.Phone    LIKE '%' + @SearchValue + '%'
      );

  /* 2) Total count for the caller */
  SELECT @TotalCount = COUNT(*) FROM #Filtered;

  /* 3) Paged result */
  SELECT
      f.UserId,
      f.UserName,
      f.City,
      f.Country,
      f.Email,
      f.Phone,
      f.IsActive,
      f.ApplicantId,
      f.Gender,
      f.[Resume],
      f.QualificationId,
      f.QualificationName,
      f.JobStatus
  FROM #Filtered AS f
  ORDER BY
      CASE WHEN (@SortColumn = 'Name'  AND @SortOrder = 'ASC')  THEN f.UserName END ASC,
      CASE WHEN (@SortColumn = 'Name'  AND @SortOrder = 'DESC') THEN f.UserName END DESC,
      CASE WHEN (@SortColumn = 'City'  AND @SortOrder = 'ASC')  THEN f.City     END ASC,
      CASE WHEN (@SortColumn = 'City'  AND @SortOrder = 'DESC') THEN f.City     END DESC,
      CASE WHEN (@SortColumn = 'Email' AND @SortOrder = 'ASC')  THEN f.Email    END ASC,
      CASE WHEN (@SortColumn = 'Email' AND @SortOrder = 'DESC') THEN f.Email    END DESC
  OFFSET @PageSize * (@PageNo - 1) ROWS
  FETCH NEXT @PageSize ROWS ONLY
  OPTION (RECOMPILE);

  DROP TABLE #Filtered;
END


GO
/****** Object:  StoredProcedure [dbo].[GetApplicantSkills]    Script Date: 10/23/2025 3:17:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[GetApplicantSkills]
    @ApplicantIds NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    -- Split comma-separated JobIds into table format
    ;WITH ApplicantList AS
    (
        SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) AS ApplicantId
        FROM STRING_SPLIT(@ApplicantIds, ',')
        WHERE TRY_CAST(value AS UNIQUEIDENTIFIER) IS NOT NULL
    )
    SELECT
        apps.ApplicantId,
        s.SkillId,
        s.SkillName
    FROM dbo.ApplicantSkills AS apps
    INNER JOIN dbo.Skills AS s ON apps.SkillId = s.SkillId
    INNER JOIN ApplicantList appl ON apps.ApplicantId = appl.ApplicantId
    ORDER BY apps.ApplicantId;
END;
